<div class="menu-btn m-auto d-flex justify-content-center">
    <div class="emosi m-auto d-flex flex-wrap justify-content-center align-items-center gap-4">
        <div class="card">
            <div class="card-body d-flex flex-column justify-content-center align-items-center ">
                <img src="/static/img/emoji/dasar/angry.png" alt="">
                <h5 class="card-title">Marah</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-body d-flex flex-column justify-content-center align-items-center ">
                <img src="/static/img/emoji/dasar/sad.png" alt="">
                <h5 class="card-title">Sedih</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-body d-flex flex-column justify-content-center align-items-center ">
                <img src="/static/img/emoji/dasar/laughing.png" alt="">
                <h5 class="card-title">Senang</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-body d-flex flex-column justify-content-center align-items-center ">
                <img src="/static/img/emoji/dasar/afraid.png" alt="">
                <h5 class="card-title">Takut</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-body d-flex flex-column justify-content-center align-items-center ">
                <img src="/static/img/emoji/dasar/suprised.png" alt="">
                <h5 class="card-title">Terkejut</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-body d-flex flex-column justify-content-center align-items-center ">
                <img src="/static/img/emoji/dasar/disgusted.png" alt="">
                <h5 class="card-title">Jijik</h5>
            </div>
        </div>
    </div>
</div>