<div class="menu-btn m-auto d-flex justify-content-center">
    <div class="rombel m-auto d-flex flex-wrap justify-content-center align-items-center gap-4">
        {% for r in rombel %}
        <div class="">
            <a href="{{ url_for('latihan_rombel', rombongan=r.id ) }}">
                <div class="card">
                    <div class="card-body d-flex justify-content-center align-items-center ">
                        <h5 class="card-title">{{ r.id }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>