<div class="menu-btn m-auto d-flex justify-content-center">
    <div class="rombel m-auto d-flex flex-wrap justify-content-center align-items-center gap-4">
        <div class="">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center ">
                    <a href="{{ url_for('latihan_pilih_emosi') }}">
                        <h5 class="card-title">1</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <h5 class="card-title">1</h5>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <h5 class="card-title">1</h5>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <h5 class="card-title">1</h5>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <h5 class="card-title">1</h5>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <h5 class="card-title">1</h5>
                </div>
            </div>
        </div>
    </div>
</div>