{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="header vh-100 d-flex flex-column">
        <div class="title d-flex justify-content-between align-items-center">
            <div class="title-text d-flex justify-content-center align-items-center text-uppercase">materi</div>
            <div class="title-materi d-flex justify-content-center align-items-center text-uppercase">emosi dasar</div>
        </div>

        <div
            class="menu m-auto d-flex flex-wrap justify-content-center align-items-center gap-3 gap-lg-5 mb-0 text-center flex-grow-1">
            <div class="menu-item d-flex align-items-center">
                <a href="{{ url_for('materi_emosi', emosi='bahagia') }}">
                    <div class="btn-materi-opsi">
                        <button class="text-uppercase">bahagia</button>
                    </div>
                </a>
            </div>
            <div class="menu-item d-flex align-items-center">
                <a href="{{ url_for('materi_emosi', emosi='jijik') }}">
                    <div class="btn-materi-opsi">
                        <button class="text-uppercase">jijik</button>
                    </div>

                </a>
            </div>
        </div>
        <div
            class="menu m-auto d-flex flex-wrap justify-content-center align-items-center gap-3 gap-lg-5 mb-0 text-center flex-grow-1">
            <div class="menu-item d-flex align-items-center">
                <a href="{{ url_for('materi_emosi', emosi='marah') }}">
                    <div class="btn-materi-opsi">
                        <button class="text-uppercase">marah</button>
                    </div>
                </a>
            </div>
            <div class="menu-item d-flex align-items-center">
                <a href="{{ url_for('materi_emosi', emosi='sedih') }}">
                    <div class="btn-materi-opsi">
                        <button class="text-uppercase">sedih</button>
                    </div>
                </a>
            </div>
        </div>
        <div
            class="menu m-auto d-flex flex-wrap justify-content-center align-items-center gap-3 gap-lg-5 mb-0 text-center flex-grow-1">
            <div class="menu-item d-flex align-items-center">
                <a href="{{ url_for('materi_emosi', emosi='takut') }}">
                    <div class="btn-materi-opsi">
                        <button class="text-uppercase">takut</button>
                    </div>
                </a>
            </div>
            <div class="menu-item d-flex align-items-center">
                <a href="{{ url_for('materi_emosi', emosi='terkejut') }}">
                    <div class="btn-materi-opsi">
                        <button class="text-uppercase">terkejut</button>
                    </div>
                </a>
            </div>
        </div>
        <div class="footer-back d-flex justify-content-end align-items-end">
            <a href="{{ url_for('materi') }}">
                <div class="menu-back">
                    <img src="/static/img/button/reply.png" alt="">
                    <button class="text-uppercase">KEMBALI</button>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}