{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="header vh-100 d-flex flex-column">
        <div class="title">
            <div class="menu-item d-flex align-items-center gap-1">
                <img src="{{ url_for('static', filename='img/beranda/bermain.png') }}" alt="">
                <div class="title-text d-flex flex-column justify-content-center align-items-center text-uppercase">
                    latihan
                </div>
            </div>
        </div>

        <div class="menu d-flex flex-column justify-content-center align-items-center gap-4 text-center flex-grow-1">
            <div class="menu-item d-flex align-items-center gap-4">
                <div class="btn-menu">
                    <a href="{{ url_for('latihan_jenis_emosi', jenisEmosi='emosi-dasar') }}"
                        class="text-decoration-none">
                        <button class="text-uppercase">emosi dasar</button>
                    </a>
                </div>
            </div>
            <div class="menu-item d-flex align-items-center gap-4">
                <div class="btn-menu">
                    <a href="{{ url_for('latihan_jenis_emosi', jenisEmosi='emosi-gabungan') }}"
                        class="text-decoration-none">
                        <button class="text-uppercase">emosi gabungan</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-back d-flex justify-content-end align-items-end">
            <a href="{{ url_for('index') }}">
                <div class="menu-back">
                    <img src="/static/img/button/reply.png" alt="">
                    <button class="text-uppercase">kembali</button>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}