{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="header vh-100 d-flex flex-column">
        <div class="title d-flex flex-wrap justify-content-around align-items-center gap-3">
            <div class="d-flex flex-wrap justify-content-center align-items-center gap-3">
                <div class="menu-item d-flex align-items-center gap-3">
                    <img src="{{ url_for('static', filename='img/beranda/bermain.png') }}" alt="">
                    <div class="title-text d-flex flex-column justify-content-center align-items-center text-uppercase">
                        latihan
                    </div>
                </div>
                <div id="emosi-data" data-name="{{ data['jenis_emosi'] }}" data-location="{{ data['emosi'] }}"
                    class="title-materi d-flex justify-content-center align-items-center text-uppercase">emosi {{
                    jenisEmosi }}
                </div>
                <div class=" d-none  title-materi d-md-flex justify-content-center align-items-center text-uppercase">
                    {{ emosi }}
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-center align-items-center gap-3">
                <div class="title-materi d-flex d-md-none justify-content-center align-items-center text-uppercase"> {{
                    emosi }}
                </div>
                <div class="title-materi d-flex justify-content-center align-items-center text-uppercase">rombongan
                    belajar
                    {{ rombongan }}
                </div>
            </div>
        </div>


        <div class="container-latihan m-auto d-flex justify-content-center">
            <div class="latihan-emosi m-auto d-flex flex-wrap justify-content-center align-items-center gap-4 gap-lg-5">
                {% for emosi in list_emosi %}
                <div class="">
                    <div class="buttonpilihgambar" data-emotion="{{ emosi.nama_emosi }}" onclick="checkEmosi(this)">
                        <div class="button-inner">
                            <div class="button-face button-front">
                                <!-- <div class="background-flashcard"></div> -->
                            </div>
                            <!-- <div class="button-face button-back"> -->
                            <img src="/static/img/emosi/{{ emosi.jenis_emosi.lower() }}/{{ emosi.nama_emosi }}/{{ emosi.gambar_emosi }}"
                                alt="">
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="footer-back m-3 mb-5 m-md-5">
            <div class="timer-container">
                <div id="timerBar" class="timer-bar"></div>
            </div>
        </div>

        <canvas id="confetti" class="visually-hidden"></canvas>

        <div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true"
            data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                        <img src="/static/img/emoji/timer.png" alt="">
                        <p class="text-center">Kamu punya 10 detik untuk menjawab, <br> kamu pasti bisa!</p>
                        <div class="text-center">
                            <button type="button" class="buttonselanjutnya mt-2" data-bs-dismiss="modal"
                                id="startButton">Mulai Latihan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true"
            data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content w-1000">
                    <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                        <form
                            action="{{ url_for('latihan_pilih_emosi', jenisEmosi=urlJenisEmosi, rombongan=rombongan, user=user) }}"
                            class="d-flex flex-column align-items-center justify-content-center" method="post">

                            {% if jenisEmosi == 'Dasar' %}
                            <img class="m-auto" id="emojijawaban" src="">
                            {% elif jenisEmosi == 'Gabungan' %}
                            <div id="emosigabungan" class="">
                                <p class="text-center">{{nama_emosi}}</p>
                                <div class="d-flex justify-content-around align-items-center">
                                    <div class="text-center">
                                        <p>{{ list_emosi_gabungan[0].nama_emosi }}</p>
                                        <img src="/static/img/emosi/{{ list_emosi_gabungan[0].jenis_emosi }}/{{ list_emosi_gabungan[0].nama_emosi }}/{{ list_emosi_gabungan[0].gambar_emosi }}"
                                            alt="Emosi Gabungan 1">
                                    </div>
                                    <p style="font-size: 40px; margin: 0px 10px;">+</p>
                                    <div class="text-center">
                                        <p>{{ list_emosi_gabungan[1].nama_emosi }}</p>
                                        <img src="/static/img/emosi/{{ list_emosi_gabungan[1].jenis_emosi }}/{{ list_emosi_gabungan[1].nama_emosi }}/{{ list_emosi_gabungan[1].gambar_emosi }}"
                                            alt="Emosi Gabungan 2">
                                    </div>
                                </div>
                            </div>
                            <img class="m-auto" id="emojijawaban" src="">
                            {% endif %}

                            <input type="hidden" name="statuslatihan" id="statuslatihan" value="">
                            <p class="m-auto my-2" id="katajawaban"></p>
                            <button type="submit" class="buttonselanjutnya mt-2"
                                data-bs-dismiss="modal">Selanjutnya</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
</div>
{% endblock %}