{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="header vh-100 d-flex flex-column">
        <div class="title d-flex flex-wrap justify-content-around align-items-center gap-3">
            <div class="d-flex flex-wrap justify-content-center align-items-center gap-1">
                <div class="menu-item d-flex align-items-center gap-4">
                <img src="{{ url_for('static', filename='img/beranda/bermain.png') }}" alt="">
                <div class="title-text d-flex flex-column justify-content-center align-items-center text-uppercase">
                    <p class="mt-3">latihan</p>
                </div>
            </div>
                <div class="title-materi d-flex justify-content-center align-items-center text-uppercase">emosi {{
                    jenisEmosiSplit }}
                </div>
            </div>
            <div class="title-materi d-flex justify-content-center align-items-center text-uppercase">rombongan belajar
                {{ rombongan }}
            </div>
        </div>

        <div class="menu-btn m-auto d-flex justify-content-center">
            <div class="emosi m-auto d-flex flex-wrap justify-content-center align-items-center gap-4">
                {% for latihan in jenisLatihan %}
                <div class="card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center ">
                        <img src="/static/img/emoji/{{ latihan.jenis_emosi_rel.jenis }}/{{ latihan.emoji }}" alt="">
                        <h5 class="card-title">{{ latihan.nama_emosi }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}