{% extends "base.html" %}

{% block content %}
<div class="">
    <div class=" vh-100 d-flex flex-column">
        <div class="header title d-flex justify-content-between align-items-center  mx-md-4 p-md-1">
            <div class="menu-item d-flex align-items-center gap-3">
                <img src="{{ url_for('static', filename='img/beranda/bermain.png') }}" alt="">
                <a href="{{ url_for('latihan') }}">
                    <div
                        class="title-text-latihan d-flex flex-column justify-content-center align-items-center text-uppercase">
                        latihan
                    </div>
                </a>
                <div class="title-text d-flex flex-column justify-content-center align-items-center text-uppercase">
                    emosi {{ jenisEmosi_split }}
                </div>
            </div>
            <div
                class="logo d-flex justify-content-center justify-content-md-end align-items-center gap-3 mx-md-4 p-md-1">
                <img src="{{ url_for('static', filename='img/logo/unjaya.png') }}" alt="">
                <img class="logo-slb" src="{{ url_for('static', filename='img/logo/logo-slb.png') }}" alt="">
                <img src="{{ url_for('static', filename='img/logo/kampus-merdeka.png') }}" alt="">
            </div>
        </div>

        <div class="materi-title d-flex justify-content-center mt-2 mb-5">
            <button class="title-materi d-flex justify-content-center align-items-center text-uppercase">Rombongan
                Belajar {{ rombongan }}</button>
        </div>

        <div class="menu-btn m-auto d-flex justify-content-center">
            <div class="pilih-user m-auto d-flex flex-wrap justify-content-center align-items-center gap-3 gap-md-5">
                {% for user in users %}
                <a
                    href="{{ url_for('latihan_pilih_emosi', jenisEmosi=jenisEmosi, rombongan=rombongan, user=user.nama.lower()) }}">
                    <div class="card">
                        <div class="d-flex flex-column justify-content-center align-items-center pt-2">
                            <img src="/static/img/user/{{ user.gambar }}" alt="">
                            <h6 class=" card-title mt-1 mt-md-3 text-capitalize text-center">{{ user.nama.split(' ')[:2]
                                | join(' ')
                                }}</h6>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="footer-back d-flex justify-content-end align-items-end gap-5">
            <a href="{{ url_for('index') }}">
                <div class="menu-home d-flex align-items-center">
                    <!-- <img src="/static/img/button/arrow-right.png" alt=""> -->
                    <button class="text-uppercase "><i class="bi bi-house-door-fill"></i> home</button>
                </div>
            </a>
            {% if jenisEmosi == 'emosi-dasar' %}
            <a href="{{ url_for('latihan_jenis_emosi', jenisEmosi='emosi-dasar') }}">
                {% elif jenisEmosi == 'emosi-gabungan' %}
                <a href="{{ url_for('latihan_jenis_emosi', jenisEmosi='emosi-gabungan') }}">
                    {% endif %}
                    <div class="menu-back d-flex align-items-center">
                        <!-- <img src="/static/img/button/arrow-right.png" alt=""> -->
                        <button class="text-uppercase "> <i class="bi bi-arrow-left-circle-fill"></i> kembali</button>
                    </div>
                </a>
        </div>

    </div>
</div>
{% endblock %}