{% extends "base.html" %}

{% block content %}
<div class="">
    <div class=" vh-100 d-flex flex-column">
        <div class="header title d-flex justify-content-between align-items-center  mx-md-4 p-md-1">
            <div class="menu-item d-flex align-items-center gap-3">
                <img src="{{ url_for('static', filename='img/beranda/bermain.png') }}" alt="">
                <a href="{{ url_for('latihan') }}">
                    <div class="title-text d-flex flex-column justify-content-center align-items-center text-uppercase">
                        latihan
                    </div>
                </a>
                <div class="title-text d-flex flex-column justify-content-center align-items-center text-uppercase">
                    {{ user }}
                </div>
            </div>
            <!-- <div class="title-materi d-flex justify-content-center align-items-center text-uppercase">emosi
                
            </div> -->
            <div
                class="logo d-flex justify-content-center justify-content-md-end align-items-center gap-3 mx-md-4 p-md-1">
                <img src="{{ url_for('static', filename='img/logo/unjaya.png') }}" alt="">
                <img class="logo-slb" src="{{ url_for('static', filename='img/logo/logo-slb.png') }}" alt="">
                <img src="{{ url_for('static', filename='img/logo/kampus-merdeka.png') }}" alt="">
            </div>
        </div>

        <div class="materi-title d-flex justify-content-center mt-2 mb-5">
            <button class="title-materi d-flex justify-content-center align-items-center text-uppercase">emosi {{
                jenisEmosiSplit }}</button>
        </div>

        <div class="menu-btn m-auto d-flex justify-content-center">
            <div
                class="{% if jenisEmosi == 'emosi-dasar' %}emosi{% else%}emosi-gabungan{% endif %} m-auto d-flex flex-wrap justify-content-center align-items-center gap-4">
                {% for latihan in jenisLatihan %}
                {% if latihan.nama_emosi.lower() in list_latihanemosi %}
                <a href="#" class="disabled-link">
                    <div class=" disable-colors disable-card card ">
                        <div class=" card-body d-flex flex-column justify-content-center align-items-center ">
                            <img src="/static/img/emoji/{{ latihan.jenis_emosi_rel.jenis.lower() }}/{{ latihan.emoji }}"
                                alt="">
                            <h5 class="card-title mt-3">{{ latihan.nama_emosi }}</h5>
                        </div>
                    </div>
                </a>
                {% else %}
                <a href="{{ url_for('latihan_emosi', jenisEmosi=jenisEmosi, rombongan=rombongan, user=user, emosi=latihan.nama_emosi.lower()) }}"
                    class="">
                    <div class="card">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center ">
                            <img src="/static/img/emoji/{{ latihan.jenis_emosi_rel.jenis.lower() }}/{{ latihan.emoji }}"
                                alt="">
                            <h5 class="card-title mt-3">{{ latihan.nama_emosi }}</h5>
                        </div>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>


        <div class="footer-back d-flex justify-content-end align-items-end gap-5">
            <a href="{{ url_for('index') }}">
                <div class="menu-home d-flex align-items-center">
                    <!-- <img src="/static/img/button/arrow-right.png" alt=""> -->
                    <button class="text-uppercase "><i class="bi bi-house-door-fill"></i> home</button>
                </div>
            </a>
            <a href="{{ url_for('latihan_rombel', jenisEmosi=jenisEmosi, rombongan=rombongan)  }}">
                <div class="menu-back d-flex align-items-center">
                    <!-- <img src="/static/img/button/arrow-right.png" alt=""> -->
                    <button class="text-uppercase "> <i class="bi bi-arrow-left-circle-fill"></i> kembali</button>
                </div>
            </a>
        </div>

    </div>

</div>
</div>
{% endblock %}