@font-face {
  font-family: comic;
  src: url(/static/font/comic.ttf);
}

body {
  background-image: url(/static/img/beranda/langit.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.disabled-link {
  cursor: not-allowed;
  color: gray;
  text-decoration: none;
}

.disable-colors {
  filter: grayscale(100%) contrast(100%);
}

/* home */
.menu .menu-item img {
  width: 70px;
}

.title .menu-item img {
  width: 50px;
}

.button-menu button {
  font-family: comic;
  letter-spacing: 3px;
  width: 120px;
  height: 50px;
  background-image: url(/static/img/button/flat-design-leaves-collection.png);
  border: 3px solid #007419;
  color: #fff;
  background-position: 200px 110px;
  background-size: 300px;
  border-radius: 10px;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
}

/* home */

/* components */
.header .title {
  /* background-color: #98eca8; */
  margin: 15px 10px;
  padding: 10px;
  border-radius: 20px;
  /* border: 3px solid #0fd40f;r */
}

.btn-menu button {
  font-family: comic;
  letter-spacing: 3px;
  width: 170px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border: 3px solid #007419;
}

.footer-back {
  /* background-color: #0fd40f; */
  margin: 15px 10px;
  padding: 10px;
}

.dropup-center{
  margin: 0px 10px;
}
.dropup-center button{
  height: 40px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
  font-family: comic;
}
.dropup-center .dropdown-menu li{
  font-size: 16px;
}
.dropup-center .dropdown-menu a:hover{
  transition: 0.1s ease-in-out;
}
.dropup-center .dropdown-menu a:hover{
  background-color: #c7c7c7;
}

.footer-back a {
  text-decoration: none;
}

.footer-back img {
  width: 40px;
}

.footer-back button {
  font-size: 16px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #000;
  transition: 0.1s ease-in-out;
}
.footer-back button:hover{
  color: #fff;
  background-color: #4e4e4e;
}



/* components */

/* materi */
.title .title-text {
  font-family: comic;
  width: 120px;
  height: 50px;
  font-size: 16px;
  background-color: #fff;
  text-align: center;
  color: #000;
  border-radius: 10px;
  border: 3px solid #000;
}

/* materi */

/* materi options*/
.title .title-materi {
  font-family: comic;
  width: 150px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  color: #000;
  border-radius: 10px;
  border: 3px solid #000;
}

.btn-materi-opsi button {
  font-family: comic;
  letter-spacing: 3px;
  width: 150px;
  height: 60px;
  background-image: url(/static/img/button/cartoon-set-wooden-signboards.png);
  filter: brightness(110%);
  background-size: cover;
  background-position: center;
  border: 3px solid #a47533;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

/* materi opsion*/

/* materi emosi */
/* .materi-emosi {
  background-color: #0fd40f;
} */

.emosi a{
  text-decoration: none;
  color: #000;
}

.materi-emosi .materi-img .frame-img {
  width: 150px;
  height: 150px;
}

.materi-emosi .frame-img img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
  border-radius: 20px;
  border: 3px solid #a47533;
}

.materi-emosi .materi-video video {
  width: 330px;
  border-radius: 20px;
  border: 3px solid #a47533;
}

.menu-item select, .menu-item option{
  font-family: comic;
  font-size: 16px;
  background-image: url(/static/img/button/cartoon-set-wooden-signboards.png);
  filter: brightness(110%);
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin: 15px 10px;
  padding: 10px;

}

/* materi emosi */

/* latihan options */
.card .card-title {
  font-family: comic;

  
}
.card .card-title-number {
  font-family: comic;
  font-size: 25px;
  font-weight: 800;
  
}

.header .title-text {
  font-family: comic;
  width: 120px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  color: #000;
  border-radius: 10px;
  border: 3px solid #000;
}

.header .title-materi {
  text-transform: uppercase;
  font-family: comic;
  width: 150px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  color: #000;
  border-radius: 10px;
  border: 3px solid #000;
}

.header .card {
  width: 120px;
  margin-bottom: 10px;
  background-image: url(/static/img/button/cartoon-set-wooden-signboards.png);
  background-size: cover;
  background-position: center;
  border: 3px solid #a47533;
}

.header a {
  text-decoration: none;
}

.header .rombel {
  width: 100%;
  padding: 20px;
}

.header .menu-item .btn-menu button {
  width: 150px;
  height: 60px;
  background-image: url(/static/img/button/flat-design-leaves-collection.png);
  color: #fff;
  background-position: 200px 110px;
  background-size: 300px;
  border: 3px solid #007419;
}

/* latihan options */

/* latihan pilih emosi */

.header .emosi img {
  width: 70px;
  height: 100%;
}

.header .emosi .card:hover {
  border: 3px solid #282b28;
  color: #ffffff;
}


/* pilih user */

.header .pilih-user img {
  width: 50px;
  margin-top: 10px;
}
.header .pilih-user .card:hover {
  color: #fff;
  border: 3px solid #000;
}

/* latihan emosi */
.timer-container {
  width: 100%;
  background-color: #f3f3f3;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #000;
  overflow: hidden;
  position: relative;
}

.timer-bar {
  background-color: #30ff2b;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  transition: width 1s linear, background-color 0.5s ease;
}

.latihan-emosi .frame-img {
  width: 140px;
  height: 140px;
  background-color: #a47533;
  border-radius: 20px;
}

.latihan-emosi .frame-img img {
  width: 140px;
  height: 140px;
  border-radius: 20px;
  object-fit: cover;
  border-radius: 20px;
  border: 3px solid #a47533;
}

.buttonpilihgambar {
  width: 140px;
  height: 140px;
  cursor: pointer;
}

.button-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.buttonpilihgambar.flipped .button-inner {
  transform: rotateY(180deg);
}

.button-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden;
}

.button-front {
  background-color: #dfa24e;
  border-radius: 17px;
  border: 3px solid #a47533;
  background-image: url(/static/img/button/logo.png);
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.buttonpilihgambar img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  background-size: cover;
  border-radius: 17px;
  border: 3px solid #a47533;

}

.button-back {
  border: 3px solid #a47533;
  transform: rotateY(180deg);
}

#emosigabungan img {
  object-fit: cover;
  background-size: cover;
}

.modal .modal-content {
  /* padding: 30px 20px; */
  background-color: #ffffff;
}

.modal .modal-content img {
  width: 50%;
}

.modal .modal-content p {
  font-family: comic;
  font-size: 18px;
}

.modal .modal-content button {
  width: 150px;
  height: 50px;
  background-color: #63df63;
  border-radius: 10px;
  border: 2px solid #000;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  font-family: comic;
  letter-spacing: 1px;
  margin: 10px 0;
}

/* latihan emosi */

/*laporan*/
.laporan-field{
  position: relative;
  width: 420px;
  height: 620px;
  background-image: url(/static/img/background/backgroundkayu.png);
  background-size: 100% 500px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  font-family: comic ;
}

.laporan-field h4{
  position: absolute;
  font-size: 23px;
  text-align: center;
  text-transform: capitalize;
  color: #000;
  top: 23%;
  right: 35%;
}
.emosilaporan-field{
  position: absolute;
  top: 35%;
  left: 10%;
}
.jenisemosilaporan{
  margin-top: 10px;
}
.jenisemosilaporan h5{
  color: #000;
  font-size: 18px;
  text-transform: capitalize;
}

.statusemosi{
  margin-bottom: -20px;
}
.statuslatihan h6,p{
  color: #000;
  font-size: 16px;
  text-transform: capitalize;
}
.statuslatihan h6{
  width: 70px;
}


/*laporan*/

/* Layar besar (desktop) */
/* Layar sedang (tablet atau desktop kecil) */
@media (min-width: 768px) {
  .menu .menu-item img {
    width: 110px;
  }
  
  .title .menu-item img {
    width: 70px;
  }

  .button-menu button {
    background-position: 260px 130px;
    background-size: 350px;
    width: 180px;
    height: 80px;
    border-radius: 17px;
    font-size: 25px;
  }

  /* components */
  .header .title {
    margin: 30px 20px;
    padding: 20px;
  }

  .header .menu-item .btn-menu button {
    width: 220px;
    height: 80px;
    font-size: 23px;
    background-position: 290px 110px;
    background-size: 350px;
  }

  .footer-back {
    /* background-color: #0fd40f; */
    margin: 30px 20px;
    padding: 20px;
  }
  
  .footer-back button {
    width: 160px;
    height: 70px;
    font-size: 23px;
    font-family: comic;
  }
  .dropup-center {
    /* background-color: #0fd40f; */
    margin: 0px 20px;
    padding: 20px;
  }
  .dropup-center button{
    height: 70px;
    font-size: 23px;
  }
  .dropup-center .dropdown-menu li{
    font-size: 23px;
  }
  

  .footer-back img {
    width: 55px;
  }

  /* components */

  /* materi */
  .title .title-text {
    width: 130px;
    height: 60px;
    font-size: 18px;
  }

  /* materi */

  /* materi options */
  .tiele .title-materi {
    font-size: 18px;
    width: 160px;
    height: 60px;
  }

  .menu .btn-materi-opsi button {
    width: 200px;
    height: 70px;
    font-size: 23px;
    background-image: url(/static/img/button/cartoon-set-wooden-signboards.png);
    filter: brightness(110%);
    border: 3px solid #a47533;
  }

  /* materi options */

  /* materi opsion*/

  /* materi emosi */
  .materi-emosi .materi-img .frame-img {
    width: 200px;
    height: 200px;
  }

  .materi-emosi .frame-img img {
    width: 200px;
    height: 200px;
  }

  .materi-emosi .materi-video video {
    width: 480px;
  }

  .menu-item select, .menu-item option{
    width: 160px;
    height: 70px;
    font-size: 23px;
    margin: 30px 20px;
    padding: 20px;
  }

  /* materi emosi */

  /* latihan options */

  .card .card-title {
    font-size: 28px;
  }

  .header .title-text {
    width: 160px;
    height: 70px;
    font-size: 23px;
  }

  .header .title-materi {
    font-size: 23px;
    width: 190px;
    height: 70px;
  }

  .header .rombel {
    width: 60%;
  }

  .header .card {
    width: 150px;
  }

  /* latihan options */

  /*latihan pilih emosi*/

  .header .emosi .card {
    width: 170px;
    margin-bottom: 10px;
    background-image: url(/static/img/button/cartoon-set-wooden-signboards.png);
    background-size: cover;
    background-position: center;
    border: 3px solid #a47533;
  }

  .header .emosi .card {
    margin: 0px 10px;
  }

  .header .emosi img {
    width: 130px;
    height: 100%;
  }

  /*latihan pilih emsi*/

  /* pilih user */
  .header .pilih-user img {
    width: 80px;
  }

  /* pilih user */

  /* latihan emosi */

  .buttonpilihgambar {
    width: 170px;
    height: 170px;
  }

  .buttonpilihgambar img {
    width: 170px;
    height: 170px;
  }

  .latihan-emosi .frame-img {
    width: 170px;
    height: 170px;
    background-color: #0fd40f;
  }

  .latihan-emosi .frame-img img {
    width: 170px;
    height: 170px;
  }

  /* .modal .modal-content {
    padding: 50px 30px;
  }

  .modal .modal-content img {
    width: 70%;
  }

  .modal .modal-content p {
    font-size: 20px;
  } */

  /* latihan emosi */

  /*laporan*/
  .laporan-field{
    position: relative;
    width: 600px;
    height: 620px;
    background-image: url(/static/img/background/backgroundkayu.png);
    background-size: 100% 400px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    font-family: comic ;
  }
  
  .laporan-field h4{
    position: absolute;
    font-size: 25px;
    text-transform: capitalize;
    color: #000;
    top: 27%;
    right: 40%;
  }
  .emosilaporan-field{
    position: absolute;
    width: 400px;
    top: 40%;
    left: 10%;
    display: flex;
    justify-content: space-between;
  }

  .jenisemosilaporan{
    margin-top: 0px;
  }

  .jenisemosilaporan h5{
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
  }
  .statusemosi{
    margin-bottom: -17px;
  }
  .statuslatihan h6,p{
    color: #000;
    font-size: 18px;
    text-transform: capitalize;
  }
  .statuslatihan h6{
    width: 70px;
  }
  /*laporan*/
}

@media (min-width: 1200px) {
  /* Gaya khusus untuk layar besar */

  .button-menu button {
    background-position: 270px 140px;
    background-size: 370px;
    width: 200px;
    height: 90px;
    border-radius: 17px;
    font-size: 25px;
  }

  .header .emosi {
    width: 900px;
  }

  .header .emosi .card {
    margin: 0px 30px;
  }

  /* pilih user */
  .header .menu-btn {
    width: 90%;
    /* pilih user */
  }

  /* materi-opsi*/
  .header .menu-item .btn-menu button {
    width: 240px;
    height: 80px;
    font-size: 23px;
  }

  /* materi-opsi */

  /* materi-emosi */
  .materi-emosi .materi-img .frame-img {
    width: 250px;
    height: 250px;
  }

  .materi-emosi .frame-img img {
    width: 250px;
    height: 250px;
  }

  /* materi-emosi */

  /* latihan emosi */

  /* .timer-bar {
    background-color: #30FF2B;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    transition: width 1s linear, background-color 0.5s ease;
  } */

  .header .container-latihan {
    width: 60%;
  }

  .buttonpilihgambar {
    width: 180px;
    height: 180px;
  }

  .buttonpilihgambar img {
    width: 180px;
    height: 180px;
  }

  /* .latihan-emosi .latihan-img {
    width: 180px;
    height: 180px;
  }

  .latihan-emosi .frame-img img {
    width: 180px;
    height: 180px;
  } */

  /* latihan emosi */

    /*laporan*/
    .laporan-field{
      position: relative;
      width: 800px;
      height: 620px;
      background-image: url(/static/img/background/backgroundkayu.png);
      background-size: 100% 400px;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 20px;
      font-family: comic ;
    }
    
    .laporan-field h4{
      position: absolute;
      font-size: 25px;
      text-transform: capitalize;
      color: #000;
      top: 16%;
      right: 42%;
    }
    .emosilaporan-field{
      position: absolute;
      width: 600px;
      top: 35%;
      left: 10%;
      display: flex;
      justify-content: space-between;
    }
  
    .jenisemosilaporan{
      margin-top: 0px;
    }
  
    .jenisemosilaporan h5{
      color: #000;
      font-size: 20px;
      text-transform: capitalize;
    }
    .statusemosi{
      margin-bottom: -17px;
    }
    .statuslatihan h6,p{
      color: #000;
      font-size: 18px;
      text-transform: capitalize;
    }
    .statuslatihan h6{
      width: 70px;
    }
    /*laporan*/

}