@font-face {
  font-family: comic;
  src: url(/static/font/comic.ttf);
}

body {
  background-image: url(/static/img/beranda/langit.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

/* home */
.menu .menu-item img {
  width: 70px;
}

.button-menu button {
  font-family: comic;
  width: 110px;
  height: 50px;
  background-color: #0fd40f;
  border-radius: 10px;
  border: none;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
}

/* home */

/* components */
.header .title {
  background-color: #0fd40f;
  margin: 15px 10px;
  padding: 10px;
}

.btn-menu button {
  font-family: comic;
  width: 170px;
  height: 50px;
  background-color: #0fd40f;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border: 3px solid #007419;
}

.footer-back {
  background-color: #0fd40f;
  margin: 15px 10px;
  padding: 10px;
}

.footer-back a {
  text-decoration: none;
}

.footer-back img {
  width: 40px;
}

.footer-back button {
  font-size: 16px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #007419;
}

/* components */

/* materi */
.title .title-text {
  font-family: comic;
  width: 120px;
  height: 50px;
  font-size: 16px;
  background-color: #fff;
  text-align: center;
  color: #000;
  border-radius: 10px;
  border: 3px solid #000;
}

/* materi */

/* materi options*/
.title .title-materi {
  font-family: comic;
  width: 150px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  color: #000;
  border-radius: 10px;
  border: 3px solid #000;
}

.btn-materi-opsi button {
  width: 150px;
  height: 60px;
  background-image: url(/static/img/button/cartoon-set-wooden-signboards.png);
  background-size: cover;
  background-position: center;
  border: 3px solid #a47533;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

/* materi opsion*/

/* latihan options */
.card .card-title{
  font-family: comic;
}

.header .title-text {
  font-family: comic;
  width: 120px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  color: #000;
  border-radius: 10px;
  border: 3px solid #000;
}

.header .title-materi {
  text-transform: uppercase;
  font-family: comic;
  width: 150px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  color: #000;
  border-radius: 10px;
  border: 3px solid #000;
}

.header .card {
  width: 120px;
  margin-bottom: 10px;
  background-image: url(/static/img/button/cartoon-set-wooden-signboards.png);
  background-size: cover;
  background-position: center;
  border: 3px solid #a47533;
}

.header a{
  text-decoration: none;
}

.header .rombel {
  width: 100%;
  padding: 20px;
}

.header .menu-item button {
  width: 150px;
  height: 60px;
  background-image: url(/static/img/button/cartoon-set-wooden-signboards.png);
  background-size: cover;
  background-position: center;
  border: 3px solid #a47533;
}

/* latihan options */

/* latihan pilih emosi */

 .header .emosi img{
  width: 70px;
  height: 100%;
 }


/* Layar besar (desktop) */
/* Layar sedang (tablet atau desktop kecil) */
@media (min-width: 768px) {
  .menu .menu-item img {
    width: 80px;
  }

  .button-menu button {
    width: 130px;
    height: 60px;
    border-radius: 12px;
  }

  /* components */
  .header .title {
    margin: 30px 20px;
    padding: 20px;
  }

  .btn-menu button {
    width: 180px;
    height: 60px;
    font-size: 18px;
  }

  .footer-back {
    background-color: #0fd40f;
    margin: 30px 20px;
    padding: 20px;
  }

  .footer-back button {
    width: 130px;
    height: 50px;
    font-size: 18px;
    font-family: comic;
  }

  .footer-back img {
    width: 45px;
  }

  /* components */

  /* materi */
  .title .title-text {
    width: 130px;
    height: 60px;
    font-size: 18px;
  }

  /* materi */

  /* materi options */
  .tiele .title-materi {
    font-size: 18px;
    width: 160px;
    height: 60px;
  }

  .btn-materi-opsi button {
    width: 200px;
    height: 70px;
    font-size: 18px;
  }

  /* materi options */

  /* latihan options */

  .card .card-title{
    font-size: 25px;
  }

  .header .title-text {
    width: 130px;
    height: 60px;
    font-size: 18px;
  }

  .header .title-materi {
    font-size: 18px;
    width: 160px;
    height: 60px;
  }

  .header .rombel {
    width: 60%;
  }

  .header .card {
    width: 150px;
  }

  /* latihan options */

  /*latihan pilih emosi*/

  
  .header .emosi .card {
    width: 170px;
    margin-bottom: 10px;
    background-image: url(/static/img/button/cartoon-set-wooden-signboards.png);
    background-size: cover;
    background-position: center;
    border: 3px solid #a47533;
  }

  .header .emosi .card {
    margin: 0px 10px;
  }

  .header .emosi img{
    width: 130px;
    height: 100%;
  }

  .header .emosi .card .card-title{
    margin-top: 5px;
  }
  /*latihan pilih emsi*/

}
@media (min-width: 1200px) {
  /* Gaya khusus untuk layar besar */

  .header .emosi{
    width: 900px;
  }

  .header .emosi .card {
    margin: 0px 30px;
  }

}