<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emoji</title>
    <link rel="stylesheet" href="/static/css/beranda.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <div class="m-4">
        <div class="row">
            <div class="col-md-3 d-flex justify-content-start">
                <div class="judul">
                    MATERI
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div class="jenisemosi">
                    Emosi Gabungan
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="" style="margin: 63px 0px;">
                        <div class="menu-button d-flex justify-content-center align-items-center " >
                            <button class="buttonemosi"><a href="" style="font-size: 40px; margin: 10px;">Bingung</a></button>
                        </div>
                        <div class="menu-button my-4 d-flex justify-content-center align-items-center" >
                            <button class="buttonemosi "><a href="" style="font-size: 40px; margin: 10px;">Sedih</a></button>
                        </div>
                        <div class="menu-button d-flex justify-content-center align-items-center " >
                            <button class="buttonemosi"><a href="" style="font-size: 40px; margin: 10px;">Senang</a></button>
                        </div>
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-end">
            <div class="kembali">
                <div class="menu-button col d-flex justify-content-between" >
                    <a href="{{ url_for('materi') }}" style="font-size: 50px;">
                    <img src="/static/img/button/reply.png" alt="">
                    <button class="buttonmenu" style="width: 360px; height: 110px;"><a href="{{ url_for('materi') }}" style="font-size: 50px;">KEMBALI</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>