{% extends "base.html" %}

{% block content %}
<div class="">
    <div class=" vh-100 d-flex flex-column">
        <div class="header title d-flex justify-content-between align-items-center  mx-md-4 p-md-1">
            <div class="menu-item d-flex align-items-center gap-3">
                <img src="{{ url_for('static', filename='img/beranda/laporan.png') }}" alt="">
                <a href="{{ url_for('laporan_pilih_rombel') }}">
                    <div class="title-text-laporan d-flex flex-column justify-content-center align-items-center text-uppercase">
                        laporan
                    </div>
                </a>
            </div>
            <div
                class="logo d-flex justify-content-center justify-content-md-end align-items-center gap-3 mx-md-4 p-md-1">
                <img src="{{ url_for('static', filename='img/logo/unjaya.png') }}" alt="">
                <img class="logo-slb" src="{{ url_for('static', filename='img/logo/logo-slb.png') }}" alt="">
                <img src="{{ url_for('static', filename='img/logo/kampus-merdeka.png') }}" alt="">
            </div>
        </div>

        <div class="materi-title d-flex justify-content-center mt-2 mb-5">
            <a href="{{ url_for('laporan_pilih_user', rombel=rombel) }}" style="text-decoration: none;">
                <button class="title-materi d-flex justify-content-center align-items-center text-uppercase"> {{ user }}</button>
            </a>
        </div>

        <div class="laporan-field mx-auto">
            <div class="emosilaporan-field">
                <div class="laporan-content d-flex flex-column">
                    <div class="jenisemosilaporan">
                        {% if not laporan_dasar%}
                        <h5 class="fw-semibold"></h5>
                        {%else%}
                        <h5 class="fw-semibold">Emosi Dasar</h5>
                        {%endif%}
                    </div>
                    <div class="d-flex flex-column  align-items-center text-uppercase">
                        <div class="statuslatihan">
                            {%for emosi in laporan_dasar %}
                            <div class="">
                                <div class="statusemosi d-flex">
                                    {% if emosi.status == 'berhasil'%}
                                    <div class="d-flex">
                                        <h6 class="fw-bold">{{emosi.nama_emosi}}</h6>
                                        :
                                        <h6 style="color: #19B619; margin-left: 5px;">{{emosi.status}}</h6>
                                    </div>
                                    <div class="ms-3">
                                        <div class="d-flex laporanberhasil"style="margin-bottom: -20px;">
                                            <h6 >Berhasil</h6>
                                            :
                                            <p class="text-center">{{emosi.berhasil}}</p>
                                        </div>
                                        <div class="d-flex laporanberhasil">
                                            <h6 >Belum Berhasil</h6>
                                            :
                                            <p class="text-center">{{emosi.belum_berhasil}}</p>
                                        </div>
                                    </div>

                                    {% elif emosi.status == 'belum berhasil'%}
                                    <div class="d-flex">
                                        <h6 class="fw-bold">{{emosi.nama_emosi}}</h6>
                                        :
                                        <h6 style="color: #FF0000; margin-left: 5px;">{{emosi.status}}</h6>
                                    </div>
                                    <div class="ms-3">
                                        <div class="d-flex laporanberhasil"style="margin-bottom: -20px;">
                                            <h6 >Berhasil</h6>
                                            :
                                            <p class="text-center">{{emosi.berhasil}}</p>
                                        </div>
                                        <div class="d-flex laporanberhasil">
                                            <h6 >Belum Berhasil</h6>
                                            :
                                            <p class="text-center">{{emosi.belum_berhasil}}</p>
                                        </div>
                                    </div>
                                    {%endif%}
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="jenisemosilaporan">
                        {% if not laporan_gabungan %}
                        <h5 class="fw-semibold"></h5>
                        {%else%}
                        <h5 class="fw-semibold">Emosi Gabungan</h5>
                        {%endif%}
                    </div>
                    <div class="d-flex flex-column  align-items-center text-uppercase">
                        <div class="statuslatihan">
                            {%for emosi in laporan_gabungan %}
                            <div class="">
                                <div class="statusemosi d-flex">
                                    {% if emosi.status == 'berhasil'%}
                                    <div class="d-flex">
                                        <h6 class="fw-bold">{{emosi.nama_emosi}}</h6>
                                        :
                                        <h6 style="color: #19B619; margin-left: 5px;">{{emosi.status}}</h6>
                                    </div>
                                    <div class="ms-3">
                                        <div class="d-flex laporanberhasil" style="margin-bottom: -20px;">
                                            <h6 >Berhasil</h6>
                                            :
                                            <p class="text-center">{{emosi.berhasil}}</p>
                                        </div>
                                        <div class="d-flex laporanberhasil">
                                            <h6 >Belum Berhasil</h6>
                                            :
                                            <p class="text-center">{{emosi.belum_berhasil}}</p>
                                        </div>
                                    </div>

                                    {% elif emosi.status == 'belum berhasil'%}
                                    <div class="d-flex">
                                        <h6 class="fw-bold">{{emosi.nama_emosi}}</h6>
                                        :
                                        <h6 style="color: #FF0000; margin-left: 5px;">{{emosi.status}}</h6>
                                    </div>
                                    <div class="ms-3">
                                        <div class="d-flex laporanberhasil" style="margin-bottom: -20px;">
                                            <h6 >Berhasil</h6>
                                            :
                                            <p class="text-center">{{emosi.berhasil}}</p>
                                        </div>
                                        <div class="d-flex laporanberhasil">
                                            <h6 >Belum Berhasil</h6>
                                            :
                                            <p class="text-center">{{emosi.belum_berhasil}}</p>
                                        </div>
                                    </div>
                                    {%endif%}
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-back d-flex justify-content-end align-items-end gap-5">
            <a href="{{ url_for('index') }}">
                <div class="menu-home d-flex align-items-center">
                    <!-- <img src="/static/img/button/arrow-right.png" alt=""> -->
                    <button class="text-uppercase "><i class="bi bi-house-door-fill"></i> home</button>
                </div>
            </a>
            <a href="{{ url_for('laporan_pilih_user', rombel=rombel) }}">
                <div class="menu-back d-flex align-items-center">
                    <!-- <img src="/static/img/button/arrow-right.png" alt=""> -->
                    <button class="text-uppercase "> <i class="bi bi-arrow-left-circle-fill"></i> kembali</button>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}