{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="header vh-100 d-flex flex-column">
        <div class="title d-flex flex-wrap justify-content-around align-items-center gap-3">
            <div class="d-flex flex-wrap justify-content-center align-items-center gap-3">
                <div class="menu-item d-flex align-items-center gap-1">
                    <img src="{{ url_for('static', filename='img/beranda/laporan.png') }}" alt="">
                    <div class="title-text d-flex flex-column justify-content-center align-items-center text-uppercase">
                        laporan
                    </div>
                </div>
            </div>
            <div class="title-materi d-flex justify-content-center align-items-center text-uppercase">rombongan belajar
            </div>
        </div>

        {% include 'components/rombel-laporan.html' %}

        <div class="footer-back d-flex justify-content-end align-items-end m-3 m-md-5">
            <a href="{{ url_for('index') }}">
                <div class="menu-back">
                    <img src="/static/img/button/reply.png" alt="">
                    <button class="text-uppercase">kembali</button>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}